#parent{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
.img{
    width: 10%;
    margin-top: 50px;
}
.box{
    display: flex;
    /* width: 10%; */
    justify-content:flex-start;
    /* border-radius: 1px; */

}
.btn1{
    background-color: white;
    margin: 20px;
}
.btn1:hover{
    background-color: black;
    color: white;
}
.btn2:hover{
    background-color: black;
    color: white;
}

.btn2{
    background-color: white;
    margin: 20px;
}

.div3c{
    display: flex;
    /* width: 200px; */
    /* flex-direction:column; */
    /* margin:30px; */
    justify-content: space-between;
    margin-bottom: -25px;
    
    /* background-color: rgb(180, 207, 23); */
}
#h44{
    color: red;
    text-align: center;
}
#div4{
    gap:20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#div4>input,#div4>button{
    padding: 10px;
}
.div5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    /* flex-direction: column; */
}
.div6{
    display: flex;
}
#maindiv{
    /* display: flex; */
    border-bottom: 1px solid;
}
.bargain{
    display: flex;
    justify-content: flex-end;
    color: red;
}
.pricediv{
    display: flex;
    flex-direction: column;
}
.str{
    text-decoration: line-through;
}
#submit-button {
    background-color: rgb(200,200,200);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    border: 1px solid rgb(200,200,200);
}
/* #input {
    position: relative;
} */
  


/* #input {
    position: relative;
}
  
#input::placeholder {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}
  
#input:focus::placeholder {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
}
  
#input:not(:placeholder-shown):focus::placeholder {
    top: -100%;
    left: 0;
    z-index: -1;
    opacity: 0;
} */
  
  
  
/* #submit-button:hover {
    background-color: lightblue;
    cursor: pointer;
} */
  
.delete{
    align-self:flex-start;
    margin-left: 11.5%;
    padding: 7px;
    width: 7%;
    color: black;
    border-radius: 5px;
}
.delete:hover{
    background-color: red;
    color: white;
}
.top{
    /* background-color: brown; */
    margin: 250px;
    text-align: center;
    margin-bottom: 0px;
}
.top>button{
    border: 0;
    background-color: white;
    border-bottom: 1px solid gray;
}
.top>button:hover{
    border-bottom: 2px solid black;
}
.checkout{
    align-self: center;
    width: 30%;
    margin: 10px;
    padding: 13px 20px;
    background-color: black;
    color: white;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid transparent;
    font-family: Futura,sans-serif;
}