
/* Universal CSS Properties */
* {
    font-family: sans-serif;
}


/* CSS Properties for Header */
#header {
    width: 100%;
    height: 125px;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
}

#navbar {
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    justify-content: space-between;
}

#top {
    display: flex;
    padding-top: 10px;
    margin-bottom: 5px;
}

#navbar > #top > div:nth-child(1) {
    width: 10%;
    margin-top: 1%;
    margin-left: 44%;
    height: 40%;
}

#navbar > #top > div:nth-child(2) {
    margin-left: 30%;
    margin-top: 28px;
    width: 10%;
    height: 20%;
    display: flex;
    gap: 23px;

}

#navbar > #top > div:nth-child(1) > img {
    width: 100%;
    height: 30px;
}


#navbar > #top > div:nth-child(2) > button {
    width: 10%;
    height: 60%;
    background: none;
    border: none;
}


#navbar > #top > div:nth-child(2) > img {
    width: 10%;
    height: 80%;
}

#navbar > #mid {
    width: 70%;
    height: 40%;
    gap: 3%;
    margin: auto;
    display: flex;
}


#mid > div > p {
    font-size: 13px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    margin: auto;
    text-align: center;
}


/* Drop-down menu and animations */
.dropdown-menu {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    visibility: hidden;
    z-index: -99999;
    display: flex;
    gap: 5%;
    justify-content: center;
}
  
.dropdown-menu > div {
    margin-top: 25px;
}

.dropdown-menu > div > h5 {
    font-size: 12px;
    letter-spacing: 2px;
}

.dropdown-menu > div >  p {
    font-size: 12px;
    padding-top: -3px;
}

.dropdown-menu > div > li > a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
}

.dropdown:hover .dropdown-menu {
    transform: scale(1.015);
    background: white;
    opacity: 1;
    visibility: visible;
    top: 100%;
    width: 100vw;
    padding-bottom: 40px;
    -webkit-transition: all .5s, background, 2s .5s linear;
    transition: all .5s, background 2s .5s linear;
    
}

.dropdown:hover .slideUp {
    animation-name: text;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes text {
    from {
      margin-top: 200px;
      opacity: 0%;
    }
    to {
      margin-top: 25px;
      opacity: 100%;
    }
  }

/* Hover Underline animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* CSS Properties for main content */
#content {
    margin: 125px -9px 0px -9px;
}

#slider {
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 15px;
}

#slider > p {
    padding-top: 10px;
}

#slider > p > span {
    font-weight: bold;
}

#bigBanner {
    width: 100%;
    line-height: 15px;
    height: 650px;
    background-image: url(https://cdn.shopify.com/s/files/1/0248/3473/6191/files/shutterstock_1161591199_1944x.jpg?v=1660339761);
}

#bannerText {
    color: white;
    text-align: center;
    padding-top: 200px;
    margin: auto;
}

#bannerText > p {
    letter-spacing: 2px;
}

#bannerText > h1 {
    font-family: serif;
    font-size: 70px;
}

#bannerText > div {
    display: flex;
    gap: 15px;
    justify-content: center;
}

#bannerText > div > button {
    height: 40px;
    letter-spacing: 2px;
    padding: 10px;
    background-color: white;
    border: none;
} 

#discount {
    width: 100%;
    height: 550px;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    border-bottom: 1px solid #e6e6e6;
}

#discount > div {
    height: 90%;
    width: 25%;
    color: white;
    line-height: 15px;
    text-align: center;
}

#discount > div > h1 {
    font-family: serif;
    font-size: 50px;
}

#discount > div:nth-child(1) > h2:nth-child(1) {
    margin-top: 320px;
}

#discount > div:nth-child(2) > h2:nth-child(1) {
    margin-top: 220px;
}

#discount > div:nth-child(3) > h2:nth-child(1) {
    margin-top: 270px;
}

#discount > div > button {
    border: none;
    height: 40px;
    font-size:15px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}

#discount > div:nth-child(1) {
    background-image: url(https://cdn.shopify.com/s/files/1/0248/3473/6191/files/VENDOR_ASSET_-Extra_15_Off_Select_Luxe_Staples_540x.png?v=1671459534);
    
}

#discount > div:nth-child(2) {
    background-image: url(https://cdn.shopify.com/s/files/1/0248/3473/6191/files/WEB_ASSET_2_540x.jpg?v=1650894933);
}

#discount > div:nth-child(3) {
    background-image: url(https://cdn.shopify.com/s/files/1/0248/3473/6191/files/womens_tops_2_540x.jpg?v=1630508297);
}


#catagory {
    width: 100%;
}

#catagory > h1 {
    text-align: center;
    font-family: serif;
    font-weight:500;
    font-size: 35px;
}

#catagory > div {
    display: grid;
    width: 75%;
    gap: 10px;
    margin: auto;
    grid-template-columns: repeat(5,1fr);
}

#catagory > div > div {
    text-align: center;
}

#catagory > div > div > img {
    width: 90%;
    height: 260px;
}

#catagory > div > div > img:hover {
    transform: scale(1.03);
    transition: all .8s ease;
}

#newArrival {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

#newArrival > h1 {
    font-family: serif;
    font-weight:lighter;
    font-size: 35px;
}

#newArrival > button {
    width: 120px;
    height: 35px;
    background-color: white;
    border: 1px solid #e6e6e6;
}

#newArrival > div {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 1%;
    justify-content: center;
}

#newArrival > div > div > img {
    width: 90%;
    height: 270px;
}

#newArrival > div > div > img + p {
    width: 250px;
    letter-spacing: 2px;
    margin: auto;
}

#newArrival > div > div > img + p + p {
    font-size: 15px;
}

#save {
    color: red;
}

#trend {
    width: 100%;
    text-align: center;
}

#trend > h1 {
    text-align: center;
    font-family: serif;
    font-weight:500;
    font-size: 35px;
}

#trend > button {
    width: 120px;
    height: 35px;
    background-color: white;
    border: 1px solid #e6e6e6;
}

#trend > div {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 1%;
    justify-content: center;
}

#trend > div > div > img {
    width: 90%;
    height: 320px;
}

#trend > div > div > img + p {
    width: 240px;
    margin: auto;
    letter-spacing: 2px;
}

#trend > div > div > img + p + p {
    font-size: 15px;
}

#story {
    width: 100%;
    height: 720px;
    display: flex;
    border-bottom: 1px solid #e6e6e6; 
    justify-content: center; 
    gap: 7px; 
}

#story > div {
    width: 18%;
    height: 90%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#mainFrame {
    width: 100%;
    height: 65%;
}

#logo {
    width: 18%;
    height: 60px;
    margin-left: 41%;
    margin-top: -25px;
    border-radius: 30px;
}

#cap {
    text-align: center;
    font-size: 20px;
    color: rgb(54, 54, 54);
    padding-left: 10px;
    padding-right: 10px;
}



/* CSS Properties for Footer */
#footer {
    height: 1070px;
    margin: 0px -9px -9px -9px;
}

#footer > div:nth-child(1) {
    height: 530px;
    width: 100%;
    display: flex;
    background: white;
    padding: 23px 0% 20px 0%;
    gap: 25px;
    justify-content: center;
}

#footer > div:nth-child(1) > div {
    width: 25%;
    height: 100%;
    text-align: center;
}

#footer > div:nth-child(1) > div > img {
    width: 100%;
    height: 67%;
}

#footer > div:nth-child(1) > div > button {
    width: auto;
    height: 35px;
    padding: auto 10px auto 10px;
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#footer > div:nth-child(2) {
    height: 540px;
    width: 100%;
    background: #e6e6e6;
}

#up {
    display: flex;
    gap: 35%;
    padding-top: 45px;
    padding-left: 10%;
}

#middle {
    height: 40%;
    width: 65%;
    gap:4%;
    display: flex;
    margin-left: 9.8%;
}

#middle > div {
    height: 100%;
    width: 20%;
    font-size: 15px;
}

#middle > div:nth-child(3) {
    width: 30%;
    margin-left: 90px;
}


#sub {
    margin-top: 20px;
    gap: 10px;
    display: grid;
    padding-right: 17%;
}
#sub > input {
    height: 38px;
}

#sub > input[type="text"] {
    padding-left: 15px;
    font-size: 16px;
}

#sub > input[type="submit"] {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#sub + div {
    height: 20%;
    margin-top: 20px;
}

#sub + div > img {
    height: 100%;
}

#down {
    height: 38%;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}

#down > img {
    height: 50%;
}

#down > p {
    padding-top: 10px;
}