
/* Medium screen */
@media all and (max-width: 1100px) and (min-width:601px) {

    #navbar > #top > div:nth-child(1) {
        margin-left: auto;
    }

    #navbar > #mid {
        width: 80%;
    }

    #mid > div > p {
        font-size: 9px;
        letter-spacing: 1px;
    }

    #catagory > div {
        grid-template-columns: repeat(2,1fr);
    }

}


/* Small screen */
@media all and (max-width: 601px) and (min-width:200px) {

    #navbar > #top > div:nth-child(1) {
        margin-left: auto;
    }

    #navbar > #mid {
        width: 90%;
    }

    #mid > div > p {
        font-size: 5px;
        letter-spacing: 0px;
    }

    #catagory > div {
        grid-template-columns: repeat(1,1fr);
    }
}