#full{
    display:flex;
}
#right{
    margin-top: 50px;
    width: 65%;
    margin-left: 5%;
}
#left{
    width: 35%;
    background-color: rgb(250,250,250);
}
#right>a>img{
    max-width: 60%;
}
a{
    text-decoration: none;
    color: black;
}
#items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#items>a{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.694);
}
#items>p{
    margin-left: 5px;
    margin-right: 5px;
    color:rgba(0, 0, 0, 0.728);
    border: none;
}
#items> p:nth-child(3){
    font: 1em sans-serif;
}
#payoption{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 0;
    padding-bottom: 20px;
    margin: 0px 0px;
}
#imge{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
#imge>div>img{
    width: 100%;
    height: 35px;
    border-radius: 5px;
}
#imge>div{
    border-radius: 5px;
}
#payoption>div{
    display: flex;
    gap: 20px;
}
#imge>div:first-child{
    background-color: rgb(90,49,244);
    height: 35px;
    color: white;
}
#imge>div:nth-child(2){
    background-color: rgb(255,196,57);
    color: white;
}
#imge>div:last-child{
    background-color: rgb(21, 185, 98);
}
#or{
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
}
#or>div{
    width: 48%;
}
#or>div:nth-child(2){
    box-sizing: border-box;
    padding: 10px;
    width: auto;
}
#forms{
    width: 80%;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
}
#fhead{
    display: flex;
    justify-content: space-between;
}
form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
label {
    display: block;
    margin: 10px 0;
}
input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 0;
}
input[type="submit"] {
    background-color: #0c0e0ce7;
    color: white;
    width: 30%;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
}
.error {
    color: red;
}
#checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
#checkbox>div{
    margin-right: 10px;
}
#names{
    display: flex;
    gap:10px;
    justify-content: space-between;
}
#cities{
    display: flex;
    gap:10px;
}
#sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    font-size: 18px;
}
#parent{
    display: flex;
    flex-direction: column;
    margin: 35px;
    margin-bottom: 10px;
    background-color: rgb(250,250,250);
}
.img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: white;
    border-radius: 10px;
}
.box{
    display: flex;
    justify-content:flex-start;
}
.btn1{
    background-color: white;
    margin: 20px;
}
.btn1:hover{
    background-color: black;
    color: white;
}
.btn2:hover{
    background-color: black;
    color: white;
}
.btn2{
    background-color: white;
    margin: 20px;
}
.div3c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#h44{
    color: red;
    text-align: center;
}
#div4{
    gap:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div4>input,#div4>button{
    padding: 10px;
}
.div5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}
.div6{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#maindiv{
    display: flex;
    gap: 8px;
    height: 30%;
    align-items: center;
    justify-content: space-between;
}
.bargain{
    display: flex;
    justify-content: flex-end;
    color: red;
}
.str{
    text-decoration: line-through;
}
.delete{
    align-self:flex-start;
    margin-left: 11.5%;
    padding: 7px;
    width: 7%;
    color: red;
}
.delete:hover{
    background-color: red;
    color: white;
}
.top{
    margin: 250px;
    text-align: center;
    margin-bottom: 0px;
}
.top>button{
    border: 0;
    background-color: white;
    border-bottom: 1px solid gray;
}
.top>button:hover{
    border-bottom: 2px solid black;
}
.checkout{
    align-self: center;
    width: 30%;
    margin: 10px;
    padding: 13px 20px;
    background-color: black;
    color: white;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid transparent;
    font-family: Futura,sans-serif;
}
.quantity-circle {
    position: absolute;
    margin-top: -8px;
    margin-right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(128,128,128);
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}
.apy{
    background-color: rgb(128,128,128);
    color: white;
    border-radius: 5px;
}
.texta{
    padding: 100px;
}
#contact{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid gray;
    border-radius: 5px;
}
#ssemail{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ssdata{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.shipping-options {
    border: 1px solid rgba(0, 0, 0, 0.454);
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.standard{
    display: flex;
    justify-content: space-between;
}
.standard>div{
    display: flex;
    align-items: center;
}
.expedited{
    display: flex;
    justify-content: space-between;
}
.expedited>div{
    display: flex;
    align-items: center;
}
.option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid black;
}
.option:last-child {
    border-bottom: none;
}
.price {
    font-size: 18px;
    font-style: bold;
    color: black;
    margin-left: 10px;
}
.inner-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    margin-right: 10px;

}
.option.active .inner-circle {
    background-color: black;
}
#submit-button {
    background-color: rgb(200,200,200);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(200,200,200);
}
footer {
    display: flex;
    position: absolute;
    width: 46%;
    justify-content: flex-start;
    gap: 30px;
    font-size: 14px;
    padding: 20px;
    bottom: 0;
    border-top: 1px solid grey;
}